@use '../abstracts/' as *;
@use '../base/fonts' as *;
.header {
    padding: 20px 0;
    width: 100%;
    &__container {
      width: 100%;
      display: flex;
      gap: 20px;
      text-align: center;
      justify-content: flex-end;
    }
    span {
      display: inline-block;  
      font-size: 33px;
      font-family: "Social Gothic";
      color: white;
      display: flex;
      align-items: center;
      // line-height: 40px;
      @media (max-width: map-get($container-max-widths, lg)) {
        font-size: 28px;
      }
      @media (max-width: map-get($container-max-widths, md)) {
        font-size: 25px;
      }
    
    }
    a {
      cursor: pointer;
      font-size: 22px !important;
      padding: 12px 20px 6px 20px;
      box-shadow: 0px 5px 8px 0px rgba(222, 34, 148, 0.4) !important;
      letter-spacing: 1px;
      @media (max-width: map-get($container-max-widths, lg)) {
        font-size: 15px !important;
        padding: 13px 15px 10px 15px;
      }
      @media (max-width: map-get($container-max-widths, md)) {
        padding: 12px 15px 10px 15px;
      }
      
    }
    @media (max-width: map-get($container-max-widths, lg)) {
      padding: 10px 0;
    }
    
  }