$container-max-widths: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1550px,
);
$main-color: #a52ca5;
$section-padding: 40px;
$main-color--light: #de2294;
$margin-top-content: 60px;

$large-text: 20px;
$small-text: 16px;
$large-text-sm: 18px;
$small-text-sm: 15px;
