@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');
@font-face {
    font-family: 'Social Gothic';
    src: 
        url('../../f1/SocialGothic-Demibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }
  